{% block set_password_widget %}
    <div class="row">
        <div class="col">
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="col">
            {{ form_row(form.repeatPlainPassword) }}
        </div>
    </div>
{% endblock %}

{% block edit_delegation_attendance_widget %}
    <div class="row">
        <div class="col">
            {{ form_row(form.contestantCount) }}
        </div>
        <div class="col">
            {{ form_row(form.leaderCount) }}
        </div>
        <div class="col">
            {{ form_row(form.guestCount) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.participationMode) }}
        </div>
    </div>
{% endblock %}

{% block edit_participant_personal_data_widget %}
    <div class="row">
        <div class="col">
            {{ form_row(form.givenName) }}
        </div>
        <div class="col">
            {{ form_row(form.familyName) }}
        </div>
    </div>
    {% if form.email is defined and form.phone is defined %}
    <div class="row">
        <div class="col">
            {{ form_row(form.email) }}
        </div>
        <div class="col">
            {{ form_row(form.phone) }}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            {{ form_row(form.birthday) }}
        </div>
        <div class="col">
            {{ form_row(form.gender) }}
        </div>
    </div>
{% endblock %}

{% block edit_participant_immigration_widget %}
    <div class="row">
        <div class="col">
            {{ form_row(form.nationality) }}
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.countryOfResidence) }}
        </div>
        <div class="col">
            {{ form_row(form.placeOfBirth) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            {{ form_row(form.passportNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.passportIssueCountry) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.passportValidityFrom) }}
        </div>
        <div class="col">
            {{ form_row(form.passportValidityTo) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.passportImage) }}
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}

{% block edit_participant_event_presence_widget %}
    <div class="row">
        <div class="col">
            {{ form_row(form.diet) }}
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.allergies) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            {{ form_row(form.badgeImage) }}
        </div>
        <div class="col">
            {{ form_row(form.badgeName) }}
        </div>
    </div>
{% endblock %}
