{% block set_password_widget %}
    <div class="row">
        <div class="col">
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="col">
            {{ form_row(form.repeatPlainPassword) }}
        </div>
    </div>
{% endblock %}

{% macro form_row_buttons(form) %}
    <div class="row mt-4">
        <div class="col">
            {% if form.submit is defined %}
                {% if form.submit_and_lock is defined or form.submit_and_unlock is defined %}
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-outline-primary'}}) }}
                {% else %}
                    {{ form_widget(form.submit) }}
                {% endif %}
            {% endif %}
            {% if form.submit_and_lock is defined %}
                {{ form_widget(form.submit_and_lock, {'attr': {'class': 'btn btn-success'}}) }}
            {% endif %}
            {% if form.submit_and_unlock is defined %}
                {{ form_widget(form.submit_and_unlock, {'attr': {'class': 'btn btn-warning'}}) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block edit_delegation_contribution_widget %}
    {% import _self as own_macros %}

    <div class="row">
        <div class="col">
            {{ form_row(form.translations) }}
        </div>
    </div>

    {{ own_macros.form_row_buttons(form) }}
{% endblock %}

{% block edit_delegation_attendance_widget %}
    {% import _self as own_macros %}

    <div class="row">
        <div class="col">
            {{ form_row(form.contestantCount) }}
        </div>
        <div class="col">
            {{ form_row(form.leaderCount) }}
        </div>
        <div class="col">
            {{ form_row(form.guestCount) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            {{ form_row(form.participationMode) }}
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-8">
            {{ form_row(form.deliveryAddress) }}
        </div>
    </div>

    {{ own_macros.form_row_buttons(form) }}
{% endblock %}

{% block edit_participant_personal_data_widget %}
    {% import _self as own_macros %}

    <div class="row">
        <div class="col">
            {{ form_row(form.givenName) }}
        </div>
        <div class="col">
            {{ form_row(form.familyName) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.birthday) }}
        </div>
        <div class="col">
            {{ form_row(form.gender) }}
        </div>
    </div>
    {% if form.email is defined and form.phone is defined %}
        <div class="row">
            <div class="col">
                {{ form_row(form.email) }}
            </div>
            <div class="col">
                {{ form_row(form.phone) }}
            </div>
        </div>
    {% endif %}
    <hr/>
    <div class="row">
        <div class="col">
            {{ form_row(form.portraitFile) }}
        </div>
        <div class="col">
            {{ form_row(form.nameOnDocuments) }}
        </div>
        {% if "portrait_url" in form.portraitFile.vars.attr|keys %}
            <div class="col-12">
                <img class="w-50" src="{{ form.portraitFile.vars.attr["portrait_url"] }}" alt="portrait">
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-4">
            {{ form_row(form.shirtSize) }}
        </div>
        <div class="col-2">
            {{ form_row(form.shirtFit) }}
        </div>
        <div class="col-6">
            {{ form_row(form.sockSize) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            {{ form_row(form.papersFile) }}
        </div>
        <div class="col">
        </div>
        {% if "papers_url" in form.papersFile.vars.attr|keys %}
            <div class="col-12">
                <img class="w-50" src="{{ form.papersFile.vars.attr["papers_url"] }}" alt="portrait">
            </div>
        {% endif %}
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            {{ form_row(form.consentFile) }}
            <p>
                <a class="btn btn-info" download href="{{ env_consent_file_template_path }}">
                    {{ "new.consent_file_template"|trans({}, "participant") }}
                </a>
            </p>
        </div>
        <div class="col">
        </div>
        {% if "consent_url" in form.consentFile.vars.attr|keys %}
            <div class="col-12">
                <a class="btn btn-outline-secondary" href="{{ form.consentFile.vars.attr["consent_url"] }}">
                    {{ "new.download"|trans({}, "participant") }}
                </a>
            </div>
        {% endif %}
    </div>
    <hr/>

    {{ own_macros.form_row_buttons(form) }}
{% endblock %}

{% block edit_participant_immigration_widget %}
    {% import _self as own_macros %}

    <div class="row">
        <div class="col">
            {{ form_row(form.nationality) }}
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.countryOfResidence) }}
        </div>
        <div class="col">
            {{ form_row(form.placeOfBirth) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            {{ form_row(form.passportNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.passportIssueCountry) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.passportValidityFrom) }}
        </div>
        <div class="col">
            {{ form_row(form.passportValidityTo) }}
        </div>
    </div>

    {{ own_macros.form_row_buttons(form) }}
{% endblock %}

{% block edit_participant_event_presence_widget %}
    {% import _self as own_macros %}

    {% if form.singleRoom is defined %}
        <div class="row">
            <div class="col">
                {{ form_row(form.singleRoom) }}
            </div>
            <div class="col">
            </div>
        </div>
    {% endif %}
    <hr/>
    <div class="row">
        <div class="col">
            {{ form_row(form.diet) }}
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.allergies) }}
        </div>
    </div>

    {{ own_macros.form_row_buttons(form) }}
{% endblock %}

{% block edit_travel_group_widget %}
    {% import _self as own_macros %}

    <div class="row">
        <div class="col">
            {{ form_row(form.participants) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            {{ form_row(form.location) }}
        </div>
        <div class="col">
            {{ form_row(form.dateTime) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.provider) }}
        </div>
        <div class="col">
            {{ form_row(form.tripNumber) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            {{ form_row(form.description) }}
        </div>
    </div>

    {{ own_macros.form_row_buttons(form) }}
{% endblock %}
