{% extends "_content.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}
{% set fluid = true %}

{% macro get_badge(isComplete, reviewProgress, content) %}
    {% if reviewProgress == 2 %} {# reviewed #}
        <span class="badge badge-success">{{ content }}</span>
    {% elseif isComplete %}
        <span class="badge badge-warning">{{ content }}</span>
    {% else %}
        <span class="badge badge-danger">{{ content }}</span>
    {% endif %}
{% endmacro %}

{% macro get_button(isComplete, reviewProgress, link, content) %}
    {% if reviewProgress == 2 %} {# reviewed #}
        <a class="btn btn-sm btn-success" href="{{ link }}">{{ content }}</a>
    {% elseif isComplete %}
        <a class="btn btn-sm btn-warning" href="{{ link }}">{{ content }}</a>
    {% else %}
        <a class="btn btn-sm btn-danger" href="{{ link }}">{{ content }}</a>
    {% endif %}
{% endmacro %}

{% macro get_zero_success_badge(count, message) %}
    {% if count == 0 %}
        <span class="badge badge-success">{{ count }}</span> {{ message }}
    {% else %}
        <span class="badge badge-danger">{{ count }}</span> {{ message }}
    {% endif %}
{% endmacro %}

{% macro get_review_progress(summary) %}
    {% if summary["data_missing"] > 0 %}
        <span class="badge badge-danger">{{ summary["data_missing"] }}</span>
    {% endif %}

    {% if summary["pending_review"] > 0 %}
        <span class="badge badge-warning">{{ summary["pending_review"] }}</span>
    {% endif %}

    {% if summary["reviewed"] > 0 %}
        <span class="badge badge-success">{{ summary["reviewed"] }}</span>
    {% endif %}

    {% if summary["data_missing"] == 0 and summary["pending_review"] == 0 and summary["reviewed"] == 0 %}
        N/A
    {% endif %}

{% endmacro %}

{% macro get_delegation_badges(delegation, invoice) %}
    {% import _self as own_macros %}

    {{ own_macros.get_badge(delegation.attendanceComplete, delegation.attendanceReviewProgress, "edit_attendance.title"|trans({}, "delegation")) }}
    {{ own_macros.get_badge(delegation.contributionComplete, delegation.contributionReviewProgress, "edit_contribution.title"|trans({}, "delegation")) }}

    {% if invoice.outstandingAmount == 0 %}
        {% set badge_flavour = "success" %}
    {% elseif invoice.alreadyPayed > 0 %}
        {% set badge_flavour = "warning" %}
    {% else %}
        {% set badge_flavour = "danger" %}
    {% endif %}
    <span class="badge badge-{{ badge_flavour }}">{{ "edit_finance.title"|trans({}, "delegation") }}</span>
{% endmacro %}

{% macro get_delegation_buttons(delegation, invoice) %}
    {% import _self as own_macros %}

    {{ own_macros.get_button(delegation.attendanceComplete, delegation.attendanceReviewProgress, path("delegation_review_attendance", {"delegation": delegation.id}), "edit_attendance.title"|trans({}, "delegation")) }}
    {{ own_macros.get_button(delegation.contributionComplete, delegation.contributionReviewProgress, path("delegation_review_contribution", {"delegation": delegation.id}), "edit_contribution.title"|trans({}, "delegation")) }}

    {% if invoice.outstandingAmount == 0 %}
        {% set badge_flavour = "success" %}
    {% elseif invoice.alreadyPayed > 0 %}
        {% set badge_flavour = "warning" %}
    {% else %}
        {% set badge_flavour = "danger" %}
    {% endif %}
    <a class="btn btn-sm btn-{{ badge_flavour }}" href="{{ path("delegation_edit_finance", {"delegation": delegation.id}) }}">{{ "edit_finance.title"|trans({}, "delegation") }}</a>
{% endmacro %}

{% import _self as own_macros %}

{% block content %}
    <div class="tile mt-3">
        <h1>{{ "index.title"|trans }}</h1>
        <p>{{ "index.description"|trans }}</p>

        <p class="p-2 jumbotron mb-3 text-right text-secondary">
            {{ "index.legend.legend"|trans }}:
            <span class="badge badge-danger">{{ "index.legend.data_missing"|trans }}</span>
            <span class="badge badge-warning">{{ "index.legend.data_complete"|trans }}</span>
            <span class="badge badge-success">{{ "index.legend.reviewed_and_locked"|trans }}</span>
        </p>Event

        <p>
            <a class="btn btn-sm btn-outline-primary"
               href="{{ path("delegation_new") }}">{{ "new.title"|trans({}, "delegation") }}</a>
        </p>

        {% if delegations|length == 0 %}
            <p class="alert alert-info">
                {{ "index.info.add_delegations"|trans }}
            </p>
        {% else %}
            <table class="table table-striped">
                <thead>
                <tr class="bg-light">
                    <th colspan="5">{{ "entity.name"|trans({}, "entity_delegation") }}</th>
                    <th class="border-left" colspan="3">{{ "entity.plural"|trans({}, "entity_participant") }}</th>
                    <th class="border-left" colspan="2">{{ "entity.plural"|trans({}, "entity_travel_group") }}</th>
                </tr>
                <tr class="text-secondary">
                    <th>{{ "name"|trans({}, "entity_delegation") }}</th>
                    <th>{{ "participation_mode_short"|trans({}, "trait_delegation_attendance") }}</th>
                    <th>{{ "registration_hash"|trans({}, "entity_delegation") }}
                        <a class="text-sm text-warning"
                           href="{{ path("delegation_registration_regenerate_all") }}">{{ "registration_regenerate_all.action"|trans({}, "delegation") }}</a>
                    </th>
                    <th class="w-19em"></th>
                    <th class="border-left">{{ "trait.name"|trans({}, "trait_participant_personal_data") }}</th>
                    <th>{{ "trait.name"|trans({}, "trait_participant_immigration") }}</th>
                    <th>{{ "trait.name"|trans({}, "trait_participant_event_presence") }}</th>
                    <th class="border-left">{{ 0|transArrivalOrDeparture }}</th>
                    <th>{{ 1|transArrivalOrDeparture }}</th>
                </tr>
                </thead>
                <tbody>
                {% for delegation in delegations %}
                    <tr>
                        <td>
                            {% if delegation.users|length > 0 or delegation.participants|length > 0 or delegation.travelGroups|length > 0 %}
                                <a href="#{{ delegation.name }}">{{ delegation.name }}</a>
                            {% else %}
                                {{ delegation.name }}
                            {% endif %}
                        </td>
                        <td>{{ delegation.participationMode|transParticipationMode }}</td>
                        <td>
                            <a target="_blank"
                               href="{{ path("register", {"delegationName": delegation.name, "registrationHash": delegation.registrationHash}) }}">
                                {{ delegation.registrationHash }}
                            </a>
                            <a class="text-sm text-warning"
                               href="{{ path("delegation_registration_regenerate", {"delegation": delegation.id}) }}">{{ "registration_regenerate.action"|trans({}, "delegation") }}</a>
                            <br/>
                            {{ delegation.users|map(p => p.email)|join(", ") }}
                        </td>
                        <td class="lead">
                            {{ own_macros.get_delegation_badges(delegation, delegation_invoices[delegation.id]) }}
                        </td>
                        <td class="border-left lead">
                            {{ own_macros.get_review_progress(participant_review_progresses[delegation.id]["personal_data"]) }}
                        </td>
                        <td class="lead">
                            {{ own_macros.get_review_progress(participant_review_progresses[delegation.id]["immigration"]) }}
                        </td>
                        <td class="lead">
                            {{ own_macros.get_review_progress(participant_review_progresses[delegation.id]["onsite"]) }}
                        </td>
                        <td class="border-left lead">
                            {{ own_macros.get_review_progress(travel_group_review_progresses[delegation.id]["arrival"]) }}
                        </td>
                        <td class="lead">
                            {{ own_macros.get_review_progress(travel_group_review_progresses[delegation.id]["departure"]) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>
                <span class="btn-group">
                    <a class="btn btn-outline-secondary"
                       href="{{ path("delegation_export") }}">{{ "export.title"|trans({}, "delegation") }}</a>
                    <a class="btn btn-outline-secondary"
                       href="{{ path("participant_export") }}">{{ "export.title"|trans({}, "participant") }}</a>
                    <a class="btn btn-outline-secondary"
                       href="{{ path("travel_group_export") }}">{{ "export.title"|trans({}, "travel_group") }}</a>
                </span>
                <span class="btn-group">
                    <a class="btn btn-outline-secondary"
                       href="{{ path("participant_download_archive", {"type": "portrait"}) }}">{{ "file_archive_download.portrait"|trans({}, "participant") }}</a>
                    <a class="btn btn-outline-secondary"
                       href="{{ path("participant_download_archive", {"type": "papers"}) }}">{{ "file_archive_download.papers"|trans({}, "participant") }}</a>
                    <a class="btn btn-outline-secondary"
                       href="{{ path("participant_download_archive", {"type": "consent"}) }}">{{ "file_archive_download.consent"|trans({}, "participant") }}</a>
                </span>
            </p>
        {% endif %}
    </div>
    <div class="container">
        {% for delegation in delegations %}
            {% if delegation.participants|length > 0 or delegation.travelGroups|length > 0 %}
                <div class="tile mt-3 mb-3" id="{{ delegation.name }}">
                    <h2 class="display-4">{{ delegation.name }} <span
                                class="text-sm">{{ delegation.participationMode|transParticipationMode }}</span></h2>
                    <p class="lead">
                        {{ own_macros.get_delegation_buttons(delegation, delegation_invoices[delegation.id]) }}
                        <a class="btn btn-link"
                           href="{{ path("delegation_view", {"delegation": delegation.id}) }}">
                            {{ "index.impersonate"|trans }}
                        </a>
                        <a class="btn btn-outline-danger"
                           href="{{ path("delegation_remove", {"delegation": delegation.id}) }}">
                            <i class="fal fa-trash"></i>
                        </a>
                    </p>

                    <h3 class="mt-4">{{ "entity.plural"|trans({}, "entity_participant") }}</h3>
                    <p>
                        {{ own_macros.get_zero_success_badge(delegation.missingParticipants, "index.missing_participants"|trans) }}
                    </p>
                    {% if delegation.participants|length > 0 %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="w-12em">{{ "role"|trans({}, "entity_participant") }}</th>
                                <th>{{ "entity.name"|trans({}, "entity_participant") }}</th>
                                <th class="{% if delegation.participationMode == 0 %}w-19em{% else %}w-9em{% endif %}"></th>
                                <td class="minimal-width"></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for participant in delegation.participants %}
                                <tr>
                                    <td>
                                        {{ participant.role|transParticipantRole }}
                                    </td>
                                    <td>
                                        {{ participant.name }}
                                    </td>
                                    <td class="lead">
                                        {{ own_macros.get_button(participant.personalDataComplete, participant.personalDataReviewProgress, path("participant_review_personal_data", {"participant": participant.id}), "edit_personal_data.title"|trans({}, "participant")) }}

                                        {% if delegation.participationMode == 0 %}
                                            {{ own_macros.get_button(participant.immigrationComplete, participant.immigrationReviewProgress, path("participant_review_immigration", {"participant": participant.id}), "edit_immigration.title"|trans({}, "participant")) }}
                                            {{ own_macros.get_button(participant.eventPresenceComplete, participant.eventPresenceReviewProgress, path("participant_review_event_presence", {"participant": participant.id}), "edit_event_presence.title"|trans({}, "participant")) }}
                                        {% endif %}
                                    </td>
                                    <td>
                                    <span class="btn-group">
                                        <a class="btn btn-sm btn-outline-danger"
                                           href="{{ path("participant_remove", {"participant": participant.id}) }}">
                                            <i class="fal fa-trash"></i>
                                        </a>
                                    </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    {% if delegation.participationMode == 0 %}
                        <h3 class="mt-4">{{ "entity.plural"|trans({}, "entity_travel_group") }}</h3>
                        <p>
                            {{ own_macros.get_zero_success_badge(delegation.participantsWithoutTravelGroup(0)|length, "index.participants_without_arrival_travel_group"|trans) }}
                            <br/>
                            {{ own_macros.get_zero_success_badge(delegation.participantsWithoutTravelGroup(1)|length, "index.participants_without_departure_travel_group"|trans) }}
                        </p>
                        {% if delegation.travelGroups|length > 0 %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="w-12em"></th>
                                    <th>{{ "date_time"|trans({}, "entity_travel_group") }}</th>
                                    <th>{{ "location"|trans({}, "entity_travel_group") }}</th>
                                    <th class="w-8em"></th>
                                    <td class="minimal-width"></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for travelGroup in delegation.travelGroups %}
                                    <tr>
                                        <td>
                                            {{ travelGroup.arrivalOrDeparture|transArrivalOrDeparture }}
                                        </td>
                                        <td>
                                            {{ travelGroup.dateTime|dateTimeFormat }}
                                        </td>
                                        <td>
                                            {{ travelGroup.location }}
                                        </td>
                                        <td class="lead">
                                            {{ own_macros.get_button(travelGroup.complete, travelGroup.reviewProgress, path("travel_group_review", {"travelGroup": travelGroup.id}), "entity.name"|trans({}, "entity_travel_group")) }}
                                        </td>
                                        <td>
                                        <span class="btn-group">
                                            <a class="btn btn-sm btn-outline-danger"
                                               href="{{ path("travel_group_remove", {"travelGroup": travelGroup.id}) }}">
                                                <i class="fal fa-trash"></i>
                                            </a>
                                        </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block navbar %}

{% endblock %}
