{% extends "_content.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}
{% set fluid = true %}

{% macro get_badge(isComplete, reviewProgress, link, content) %}
    {% if reviewProgress == 2 %} {# reviewed #}
        <a class="badge badge-success" href="{{ link }}">{{ content }}</a>
    {% elseif isComplete %}
        <a class="badge badge-warning" href="{{ link }}">{{ content }}</a>
    {% else %}
        <a class="badge badge-danger" href="{{ link }}">{{ content }}</a>
    {% endif %}
{% endmacro %}

{% macro get_review_progress(summary) %}
    {% if summary["data_missing"] > 0 %}
        <span class="badge badge-danger">{{ summary["data_missing"] }}</span>
    {% endif %}

    {% if summary["pending_review"] > 0 %}
        <span class="badge badge-warning">{{ summary["pending_review"] }}</span>
    {% endif %}

    {% if summary["reviewed"] > 0 %}
        <span class="badge badge-success">{{ summary["reviewed"] }}</span>
    {% endif %}
{% endmacro %}

{% import _self as own_macros %}

{% block content %}
    <div class="tile">
        <h1>{{ "index.title"|trans }}</h1>
        <p>{{ "index.description"|trans }}</p>

        <p class="p-2 jumbotron mb-3 text-right text-secondary">
            {{ "index.legend.legend"|trans }}:
            <span class="badge badge-danger">{{ "index.legend.data_missing"|trans }}</span>
            <span class="badge badge-warning">{{ "index.legend.data_complete"|trans }}</span>
            <span class="badge badge-success">{{ "index.legend.reviewed_and_locked"|trans }}</span>
        </p>

        <p>
            <a class="btn btn-outline-primary"
               href="{{ path("delegation_new") }}">{{ "new.title"|trans({}, "delegation") }}</a>
        </p>

        {% if delegations|length == 0 %}
            <p class="alert alert-info">
                {{ "index.info.add_delegations"|trans }}
            </p>
        {% else %}
            <table class="table table-striped">
                <thead>
                <tr class="bg-light">
                    <th>{{ "entity.name"|trans({}, "entity_delegation") }}</th>
                    <th>{{ "registration_hash"|trans({}, "entity_delegation") }}
                        <a class="text-sm text-warning"
                           href="{{ path("delegation_registration_regenerate_all") }}">{{ "registration_regenerate_all.action"|trans({}, "delegation") }}</a>
                    </th>
                    <th></th>
                    <th class="border-left" colspan="3">{{ "entity.plural"|trans({}, "entity_participant") }}</th>
                    <th class="border-left" colspan="2">{{ "entity.plural"|trans({}, "entity_travel_group") }}</th>
                    <td class="border-left minimal-width"></td>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    <th class="border-left">{{ "trait.name"|trans({}, "trait_participant_personal_data") }}</th>
                    <th>{{ "trait.name"|trans({}, "trait_participant_immigration") }}</th>
                    <th>{{ "trait.name"|trans({}, "trait_participant_event_presence") }}</th>
                    <th class="border-left">{{ 0|transArrivalOrDeparture }}</th>
                    <th>{{ 1|transArrivalOrDeparture }}</th>
                    <td class="border-left"></td>
                </tr>
                </thead>
                <tbody>
                {% for delegation in delegations %}
                    <tr>
                        <td>
                            {{ delegation.name }}
                        </td>
                        <td>
                            <a target="_blank"
                               href="{{ path("register", {"delegationName": delegation.name, "registrationHash": delegation.registrationHash}) }}">
                                {{ delegation.registrationHash }}
                            </a>
                            <a class="text-sm text-warning"
                               href="{{ path("delegation_registration_regenerate", {"delegation": delegation.id}) }}">{{ "registration_regenerate.action"|trans({}, "delegation") }}</a>
                            <br/>
                            {{ delegation.users|map(p => p.email)|join(", ") }}
                        </td>
                        <td class="lead">
                            {{ own_macros.get_badge(delegation.attendanceComplete, delegation.attendanceReviewProgress, path("delegation_review_attendance", {"delegation": delegation.id}), "edit_attendance.title"|trans({}, "delegation")) }}
                            {{ own_macros.get_badge(delegation.contributionComplete, delegation.contributionReviewProgress, path("delegation_review_contribution", {"delegation": delegation.id}), "edit_contribution.title"|trans({}, "delegation")) }}
                        </td>
                        <td class="border-left lead">
                            {{ own_macros.get_review_progress(participant_review_progresses[delegation.id]["personal_data"]) }}
                        </td>
                        <td class="lead">
                            {{ own_macros.get_review_progress(participant_review_progresses[delegation.id]["immigration"]) }}
                        </td>
                        <td class="lead">
                            {{ own_macros.get_review_progress(participant_review_progresses[delegation.id]["onsite"]) }}
                        </td>
                        <td class="border-left lead">
                            {{ own_macros.get_review_progress(travel_group_review_progresses[delegation.id]["arrival"]) }}
                        </td>
                        <td class="lead">
                            {{ own_macros.get_review_progress(travel_group_review_progresses[delegation.id]["departure"]) }}
                        </td>
                        <td class="border-left">
                            <span class="btn-group">
                                <a class="btn btn-link"
                                   href="{{ path("delegation_view", {"delegation": delegation.id}) }}">
                                    {{ "index.impersonate"|trans }}
                                </a>

                                <a class="btn btn-outline-danger"
                                   href="{{ path("delegation_remove", {"delegation": delegation.id}) }}">
                                    <i class="fal fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>
                <span class="btn-group">
                    <a class="btn btn-outline-secondary"
                       href="{{ path("delegation_export") }}">{{ "export.title"|trans({}, "delegation") }}</a>
                    <a class="btn btn-outline-secondary"
                       href="{{ path("participant_export") }}">{{ "export.title"|trans({}, "participant") }}</a>
                    <a class="btn btn-outline-secondary"
                       href="{{ path("travel_group_export") }}">{{ "export.title"|trans({}, "travel_group") }}</a>
                </span>
                <span class="btn-group">
                    <a class="btn btn-outline-secondary"
                       href="{{ path("participant_download_archive", {"type": "portrait"}) }}">{{ "file_archive_download.portrait"|trans({}, "participant") }}</a>
                    <a class="btn btn-outline-secondary"
                       href="{{ path("participant_download_archive", {"type": "papers"}) }}">{{ "file_archive_download.papers"|trans({}, "participant") }}</a>
                    <a class="btn btn-outline-secondary"
                       href="{{ path("participant_download_archive", {"type": "consent"}) }}">{{ "file_archive_download.consent"|trans({}, "participant") }}</a>
                </span>
            </p>
        {% endif %}
    </div>
    {% for delegation in delegations %}
        {% if delegation.users|length > 0 or delegation.participants|length > 0 or delegation.travelGroups|length > 0 %}
            <div class="tile ml-3 mt-5 mr-3">
            <h2>{{ delegation.name }}</h2>

            <h3 class="mt-4">{{ "entity.plural"|trans({}, "entity_participant") }}</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ "role"|trans({}, "entity_participant") }}</th>
                    <th>{{ "entity.name"|trans({}, "entity_participant") }}</th>
                    <th></th>
                    <td class="minimal-width"></td>
                </tr>
                </thead>
                <tbody>
                {% for participant in delegation.participants %}
                    <tr>
                        <td>
                            {{ participant.role|transParticipantRole }}
                        </td>
                        <td>
                            {{ participant.name }}
                        </td>
                        <td class="lead">
                            {{ own_macros.get_badge(participant.personalDataComplete, participant.personalDataReviewProgress, path("participant_review_personal_data", {"participant": participant.id}), "edit_personal_data.title"|trans({}, "participant")) }}
                            {{ own_macros.get_badge(participant.immigrationComplete, participant.immigrationReviewProgress, path("participant_review_immigration", {"participant": participant.id}), "edit_immigration.title"|trans({}, "participant")) }}
                            {{ own_macros.get_badge(participant.eventPresenceComplete, participant.eventPresenceReviewProgress, path("participant_review_event_presence", {"participant": participant.id}), "edit_event_presence.title"|trans({}, "participant")) }}
                        </td>
                        <td>
                            <span class="btn-group">
                                <a class="btn btn-outline-danger"
                                   href="{{ path("participant_remove", {"participant": participant.id}) }}">
                                    <i class="fal fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3 class="mt-4">{{ "entity.plural"|trans({}, "entity_travel_group") }}</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ "role"|trans({}, "entity_participant") }}</th>
                    <th>{{ "entity.name"|trans({}, "entity_participant") }}</th>
                    <th></th>
                    <td class="minimal-width"></td>
                </tr>
                </thead>
                <tbody>
                {% for travelGroup in delegation.travelGroups %}
                    <tr>
                        <td>
                            {{ travelGroup.arrivalOrDeparture|transArrivalOrDeparture }}
                        </td>
                        <td>
                            {{ travelGroup.location }}
                        </td>
                        <td class="lead">
                            {{ own_macros.get_badge(travelGroup.complete, travelGroup.reviewProgress, path("travel_group_review", {"travelGroup": travelGroup.id}), "entity.name"|trans({}, "entity_travel_group")) }}
                        </td>
                        <td>
                            <span class="btn-group">
                                <a class="btn btn-outline-danger"
                                   href="{{ path("travel_group_remove", {"travelGroup": travelGroup.id}) }}">
                                    <i class="fal fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block navbar %}

{% endblock %}
