{% extends "_content.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}
{% set fluid = true %}

{% block content %}
    <div class="tile">
        <h1>{{ "index.title"|trans }}</h1>
        <p>{{ "index.description"|trans }}</p>

        <p>
            <a class="btn btn-outline-primary"
               href="{{ path("delegation_new") }}">{{ "new.title"|trans({}, "delegation") }}</a>
            <a class="btn btn-outline-secondary"
               href="{{ path("delegation_export") }}">{{ "export.title"|trans({}, "delegation") }}</a>
            <a class="btn btn-outline-secondary"
               href="{{ path("participant_export") }}">{{ "export.title"|trans({}, "participant") }}</a>
        </p>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "entity.name"|trans({}, "entity_delegation") }}</th>
                <th>{{ "index.delegation_overview.registration_url"|trans() }}</th>
                <td class="minimal-width"></td>
            </tr>
            </thead>
            <tbody>
            {% for delegation in delegations %}
                <tr>
                    <td>
                        {{ delegation.name }}
                    </td>
                    <td>
                        <a target="_blank"
                           href="{{ path("register", {"delegationName": delegation.name, "registrationHash": delegation.registrationHash}) }}">
                            {{ absolute_url(path("register", {"delegationName": delegation.name, "registrationHash": delegation.registrationHash})) }}
                        </a>
                        {% if delegation.users|length > 0 %}
                            <span class="bade badge-pill badge-success">{{ "index.delegation_overview.registration_url_used"|trans() }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <span class="btn-group">
                            <a class="btn btn-link" href="{{ path("delegation_view", {"delegation": delegation.id}) }}">
                                {{ "index.impersonate"|trans }}
                            </a>
                            <a class="btn btn-outline-secondary"
                               href="{{ path("delegation_edit", {"delegation": delegation.id}) }}">
                                <i class="fal fa-pencil"></i>
                            </a>

                            <a class="btn btn-outline-danger"
                               href="{{ path("delegation_remove", {"delegation": delegation.id}) }}">
                                <i class="fal fa-trash"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}

{% block navbar %}

{% endblock %}
