{% extends "_content.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}
{% set fluid = true %}

{% block content %}
    <div class="tile">
        <h1>{{ "index.title"|trans }}</h1>
        <p>{{ "index.description"|trans }}</p>

        <p>
            <a class="btn btn-outline-primary"
               href="{{ path("delegation_new") }}">{{ "new.title"|trans({}, "delegation") }}</a>
            <a class="btn btn-outline-secondary"
               href="{{ path("delegation_export") }}">{{ "export.title"|trans({}, "delegation") }}</a>

        </p>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "entity.name"|trans({}, "entity_delegation") }}</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for delegation in delegations %}
                <tr>
                    <td>
                        {{ delegation.name }}
                        <span class="p-1"></span>
                        <a class="btn btn-outline-secondary" href="{{ path("delegation_edit", {"delegation": delegation.id}) }}">
                            <i class="fal fa-pencil"></i>
                        </a>

                        <a class="btn btn-outline-danger" href="{{ path("delegation_remove", {"delegation": delegation.id}) }}">
                            <i class="fal fa-trash"></i>
                        </a>
                    </td>
                    <td>
                        {{ delegation.participants|length }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}

{% block navbar %}

{% endblock %}
